.navbar{
    width: 245px;
    height:880px;
    background-color: #fff;
    padding: 0 10px 0 0;
    position: fixed;
    top: 60px;
    left: 0;
    overflow-y: scroll;
    z-index: 100;
    transform: translateX(-400px);
    transition: 0.4s linear;
}


.show_navbar{
    width: 245px;
    height:880px;
    background-color: #fff;
    padding: 0 10px 0 0;
    position: fixed;
    top: 60px;
    left: 0;
    overflow-y: scroll;

    z-index: 100;
    transform: translateX(0px);
    transition: 0.4s linear;
}

.navbar:hover{
    overflow-y: scroll;
    overflow-x: hidden;
}

.navbar::-webkit-scrollbar-track,.show_navbar::-webkit-scrollbar-track{
    width: 20px;
    border: 1px solid rgb(255, 255, 255);
    padding: 10px 0;
    background-color: #ffffff;
    
}
.navbar::-webkit-scrollbar, .show_navbar::-webkit-scrollbar{
   width: 8px;
   max-height: 40px;
   background-color: transparent;
}

.navbar::-webkit-scrollbar-thumb,.show_navbar::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: transparent;
    max-height: 5px;
    
  }
.navbar:hover::-webkit-scrollbar-thumb, .show_navbar:hover::-webkit-scrollbar-thumb {
    border-radius: 20px;
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color:rgb(65, 65, 65);
    min-height: 5px;
  }


.sigin{
    width: 100px;
    height: 70%;
    border: 1px solid rgb(3, 122, 219);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px 5px;
    cursor: pointer;
    margin-bottom: 10px;
    
    
}

.sigin svg{

    fill:rgb(3, 122, 219);
}



.sigin span{
   font-weight: 600;
    color: rgb(3, 122, 219);
    text-transform: uppercase;
    font-size: 14px;
}

.navigation{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid rgb(153, 153, 153);
}


.navigation:nth-of-type(3) > div{
    width: 200px;
}

.navigation:nth-of-type(1) > div,
 .navigation:nth-of-type(2) > div,
 .navigation:nth-of-type(5) > div,
 .navigation:nth-of-type(6) > div,
 .navigation:nth-of-type(7) > div{
     width: 100%;
     height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
    
  
}
.navigation:nth-of-type(1) >  div:hover,
 .navigation:nth-of-type(2) > div:hover,
 .navigation:nth-of-type(5) > div:hover,
 .navigation:nth-of-type(6) > div:hover,
 .navigation:nth-of-type(7) > div:hover{
   background-color: rgba(0, 0, 0, 0.212);
   cursor: pointer;
   transition: 0.2s linear;
    
  
}
.navigation:nth-of-type(1) >  div span,
 .navigation:nth-of-type(2) > div span,
 .navigation:nth-of-type(5) > div span,
 .navigation:nth-of-type(6) > div span,
 .navigation:nth-of-type(7) > div span{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.navigation:nth-of-type(1) >  div p,
 .navigation:nth-of-type(2) > div p,
 .navigation:nth-of-type(5) > div p,
 .navigation:nth-of-type(6) > div p,
 .navigation:nth-of-type(7) > div p{
    width: 150px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.navigation:nth-of-type(8){
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: none !important;
    
}
.navigation:nth-of-type(8) > p{
    padding: 0 0 0 20px;
    width: 90%;

}


.navigation > .categories > div{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
}
.navigation > .categories > div:hover{
    background-color: rgba(0, 0, 0, 0.212);
    cursor: pointer;
    transition: 0.2s linear;
}
.navigation > .categories > div > img{
    width: 25px;
    height: 25px;
    border-radius: 100%;
    margin-right: 20px;

}



.home{
    border: 1px solid red;
}


.watchVdieos{
    width: 100%;
    height: 600px;
    border: 1px solid red;
}