.watch{
    width: 100%;
    margin-top: 100px;
    padding: 0 40px;
    


}

.videoPlayer{
    max-width: 1280px;
    height: auto;
    border: 1px solid red;
    margin: 0 100px 40px 20px;
    position: relative;
    overflow: hidden;
}


.controll{
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 10px;
    background-color: black;
   
}


.progressbar{
    width: 100%;
    height: 3px;
    background-color: rgb(134, 134, 134);
}
.progress{
    width: 25%;
    height: 100%;
    background-color: red;
}

.controlsBtn{
    width: 100%;
    height: 100%;
   border-radius: 1px solid red;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.play_next_volume_time{
    width: 400px;
    display: flex;
    
    align-items: center;
  
    padding: 0 20px;
}
.controlsBtn  .next, .play{
    width: 50px;
    height: 30px;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 24px;
    color: #fff;
    display: flex;
    justify-content: center;align-items: center;
    cursor: pointer;
    

}
.time{
   color: #fff;
}

.controlsBtn .next img{
    width: 22px;
    height: 22px;
  
}
.play_next_volume_time .volume{
    width: 45px;
   
    display: flex;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.play_next_volume_time .volume:hover{
    width: 130px;
    transition: 0.5s ease-in-out;
}

.play_next_volume_time .volume input{
    -webkit-appearance: none;
    width: 80px;
    height: 3px;
    background-color: rgb(218, 218, 218);
    
}
.play_next_volume_time .volume input::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 14px;
    height: 14px;
    border-radius: 100%;
    background-color: #fff;
    
}

.controlsBtn .volume img{
    width: 24px;
    height: 24px;
    margin-right: 20px;
}



#video{
    width: 100%;
    height: auto;
}



.setting_full_screen{
    width: 200px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}
.setting_full_screen button{
    background: transparent;
    border: none;
    cursor: pointer;

}

.setting_full_screen button img{
    width: 25px;
    height: 25px;
}

.small img{
    width: 30px;
    height: 30px;
}